<style>
    .periodo {
        margin-top: 4rem;
    }

    body {
        zoom: 80%;
    }

    .fecha {
        margin-top: 2rem;
    }

    .generar-reporte {
        position: relative;
        left: 47%;
        top: -50px;
    }

    .all {

        margin-left: 2rem;

    }
</style>



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.6/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte de producto</title>
</head>

<body>
    <div class="block mx-auto my-12 p-8 bg-white w-2/3 border border-gray-200 rounded-lg shadow-lg text-gray-800 rounded-3xl">
        <!--titulo de el container-->
        <h1 class="text-2xl font-bold text-center fs-2">Reporte de producto</h1>

        <!--Se valida toda la informacion previamente creada y guardada en la base de datos se pone en cuadros de texto para poder 
        editar la informacion tiene que estar contestados los campos con la informacion del usuario-->
        <div class="all">
            <div class="fecha">
                <form action="/rep-producto_d" method="post" class="mt-4">
                    <label class="fs-4 ">Fecha</label>
                    <input type="date" id="date" name="fecha" placeholder="fecha" class="border border-gray-200 w-500px text-lg placeholder-gray-500 p-2 my-2 
                        bg-gray-300 focus:bg-white rounded-3xl ml-3" value="{{name}}" required>
                
                    <button type="submit" class="btn btn-success btn-sm fs-5 w-25 ml-5">Generar</button>
                </form>
            </div>
            {{#if reporte_dia}}
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad vendida</th>
                            <th>Costo Total</th>
                            <th>Ingreso</th>
                        </tr>
                    </thead>
                {{#each reporte_dia}}
                    <tbody>
                        <tr>
                            <td>{{name}}</td>
                            <td>{{cantidad_total}}</td>
                            <td>${{costo_total}}</td>
                            <td>${{subtotal}}</td>
                        </tr>
                    </tbody>
                {{/each}}   
                </table>
                {{/if}}


                {{#if errd}}
                    <div class="reporte-dia">
                        <h5>{{errd}}</h5>
                    </div>
                {{/if}}


<br><hr>



            <div class="periodo">
                <form action="/rep-producto_p" method="post">
                    <label class="fs-4">Periodo de</label>
                    <input type="date" id="date1" name="fecha_i" placeholder="fecha" class="border border-gray-200 w-50% text-lg placeholder-gray-500 p-2 my-2 
                        bg-gray-300 focus:bg-white rounded-3xl ml-3" value="{{name}}" required>
                    <label class="fs-4 ml-5">a</label>
                    <input type="date" id="date2" name="fecha_f" placeholder="fecha" class="border border-gray-200 w-50% text-lg placeholder-gray-500 p-2 my-2 
                        bg-gray-300 focus:bg-white rounded-3xl  mt-3" value="{{name}}" required>

                    <button type="submit" class="btn btn-success btn-sm  w-25 fs-5 ml-8 ">Generar</button>
                </form>
            </div>
            {{#if reporte_periodo}}
                <table class="table" id="miTabla">
                    <thead class="table-dark">
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad vendida</th>
                            <th>Costo Total</th>
                            <th>Ingreso</th>
                            
                        </tr>
                    </thead>
                {{#each reporte_periodo}}
                    <tbody>
                        <tr>
                            <td>{{name}}</td>
                            <td>{{cantidad_total}}</td>
                            <td>${{costo_total}}</td>
                            <td>${{subtotal}}</td>
                        </tr>
                    </tbody>
                {{/each}}   
                </table>
                {{/if}}


                {{#if errp}}
                    <div class="reporte-periodo">
                        <h5>{{errp}}</h5>
                    </div>
                {{/if}}
        </div>
    </div>
</body>
</html>
<script>
    let datePickerId = document.getElementById("date")
    let datePickerId1 = document.getElementById("date1")
    let datePickerId2 = document.getElementById("date2")
    datePickerId.max = new Date().toISOString().split("T")[0];
    datePickerId1.max = new Date().toISOString().split("T")[0];
    datePickerId2.max = new Date().toISOString().split("T")[0];

    function ordenaCol0{
        $(document).ready(function () {
            $('#miTabla').DataTable({
                "order": [[0, 'asc']], // La columna 0 (Nombre) se ordenará de forma ascendente
                "lengthMenu": [5, 10, 25, 50],
                "searching": true,
                "ordering": true,
                // Agrega más opciones según sea necesario
            });
        });
    }
</script>