<style>
  input {
    width: 43%;
    height: 47px;
    color: black;
    background-color: rgb(103, 50, 11);


  }

  .buscador {
    position: relative;
    left: 20rem;
    top: 1rem;

    /*margin-left: 16rem;
        margin-right: 8rem;*/
  }
  body{
    zoom: 80%;
  }
</style>









<!--texto en el centro del body-->
<center>
  <h1 class="py-3">Personal Registrado</h1>
</center>


<body style="backgraund-color: #f2f2f2">
  <!--boton para crear un nuevo producto-->
  <center><a class="btn btn-outline-dark" href="/create" title="Anadir Prersonal" style="text-decoration:none;">Agregar
      Nuevo Personal</a></center>

  <!--<center>
  <form action="/pers/buscar" method="post" id="buscador">
     <input type="text" name="buscador" class="bg-white overflow-hidden shadow-xl sm:rounded-lg mt-12"  style="text-decoration:none" placeholder="Buscar..." data-table="table_id" >
     <input type="submit" value="Buscar" id="botonenviar" class="botonenviar"  >

  </form></center>-->
  <div class="buscador">
    <!--con la funcion buscar se buscan los articulos del menu-->
    <form action="/pers/buscar" class="d-flex px-40" role="search" method="post" id="buscador">
      <input class="form-control me-2 w-50 " type="search" placeholder="Buscar" aria-label="Buscar" name="buscador">
      <button class="btn btn-dark btn-lg hover-red" type="submit">Buscar</button>
    </form>

  </div>



  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
    <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg mt-12">

      <!--Tabla creada-->
      <table class="table">
        <thead class="table-dark">
          <!--informacion en el encabezado de la tabla -->
          <tr>
            <th class="w-20 py-4 px-4 fs-5 ...">ID</th>
            <th class="w-1/4 py-4 fs-5 ...">Nombre</th>
            <th class="w-1/2 py-4 px-5 fs-5 ...">Email</th>
            <th class="w-30 py-4 fs-5 ...">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {{#each pers}}
          <tr>
            <!--Se pone la informacion de la base de datos en la tabla-->
            <td class="py-3 px-6 fs-4">{{id_usuario}}</td>
            <td class="p-3 fs-4">{{name}}</td>
            <td class="p-3 fs-4">{{email}}</td>
            <td class="px-2 py-4 flex">
              <form action="/pers/delete" method="POST" class="mx-2">
                <input type="hidden" value="{{id_usuario}}" name="id">
                <button class="bg-red-500 text-white px-3 py-1 rounded-sm h-10 w-10" type="submit">
                  <i class="fas fa-trash"></i></button>
              </form>
              <a href="/pers/edit/{{id_usuario}}" class="bg-green-500 text-white px-3 py-2 rounded-sm h-10 w-10">
                <i class="fas fa-pen"></i></a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>